
p{
    font-size: 30px;
}
/* ************************************************START PAGE******************************************** */


/* Home Section CSS */

.home{
    background-color: antiquewhite;
    padding: 30px;
}

.item-left{
    background-color: white;
    display: block;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 50px;
}

.playbtn{
    background-color: greenyellow;
    margin-top: 20px;
    padding: 5px 48px;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    transition: all 0.5s ease;
    cursor: pointer;
}

.playbtn:hover{
    background-color: rgba(0, 0, 0, 1);
    color: white;
}